<section>
  <p>
    Don't have time to study full-time at the Academy? Looking for a lower-commitment way to learn? We have your back. Many classes, especially those catering to fools and jesters, offer online options. 
  </p>
</section>