<section><h2 class="accordion-header">Apprentices</h2>
  <section>
<p> Here's a paragraph about what apprentices should do</p>
  </section>
</section>

<section><h2>Guild sponsorships</h2>
  <section>
    <p>If you're sponsored by a guild, please have your sponsor write you a letter of introduction and come at the end of the busy season.</p>
  </section>
</section>

<section><h2>Novices</h2>
  <section>
    <p>If you've literally never read a book or made a joke before, we can help. But first, we'd like you to take soem classes at our satellite office in Dublin.</p>
  </section>
</section>

<section><h2>Returning Guild members</h2>
  <section>
    <p>Yo just hit us up man</p>
  </section>
</section>