<section>
  <h2>Athletics</h2>
</section>
<section>
  <h2>Arts</h2>
</section>
<section>
  <h2>Room and Board</h2>
</section>
<section>
  <h2>Health and safety</h2>
</section>
<section>
  <h2>Academy town</h2>
</section>
<section>
  <h2>Student organizations</h2>
</section>
<section>
  <h2>Events and activities</h2>
</section>