<section>
  <h2>Courses and departments</h2>
</section>
<section>
  <h2>Course planning / academic advising</h2>
</section>
<section>
  <h2>Policies</h2>
</section>
<section>
  <h2>Academic Calendar</h2>
</section>
<section>
  <h2>Student employment</h2>
</section>
<section>
  <h2>Study abroad</h2>
</section>