/*------------------------------------*\
  #PAGE-HEAD (Banner)
\*------------------------------------*/

/* Banner variables */
$min-banner-height: 30vw + $page-title-size * 2;
$masthead-light: $very-pale-grey-blue;

/* Banner wrapper --------------------*/
.banner { // visible only when screen is big enough
  @media (max-width: $small-screen-threshold) { display: none; }
  
  // layout
  @include min-size(100vw, $min-banner-height);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // background
  background-repeat: no-repeat;
  background-size: cover;
  
  // force objects to have a z-index, bringing them in front of gradients
  * { position: relative; }
  // gradient overlay
  &:before {
    position: absolute;
    content: "";
    @include min-size(100vw, $min-banner-height);
    
    background-image: linear-gradient(
      rgba($dark-red, 0.8),
//      rgba($pale-grey-purple, 0.7) 40%,
      rgba($pale-grey-blue, 0.8) 60%, $medium-grey);
  }
  
  .h1 { 
    background-color: transparent; 
  }
}


/* Small upper navigation in banner --*/
.banner__secondary {
  // text styling
  @include link-coloring-descendents($very-pale-grey-blue, $almost-white);
  font-size: small;
  
  // layout
  padding: $padding;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  
  // individual elements
  li { @include margin-padding-horizontal(0.5 * $margin, 0.5 * $padding); }
}


/* Big, fancy navigation in banner ---*/
.banner__primary {
  // text stying
  @include link-coloring-descendents($dark-red, 
             saturate($dark-magenta, 60%));
  @include small-caps;
  font-size: 3.8vw;
  
  background-color: rgba($very-pale-grey-blue, 0.4);
  
  // layout
  margin-top: auto;
  display: flex;
  padding: $padding / 2;
  justify-content: space-around;
//  flex: 1;
  align-items: center;
  // individual elements
  li {
    position: relative;
    flex: 1 1 auto;
    text-align: center;
  }
  
  .delimiter { 
    color: $dark-red;
    font-size: small;
  }
}

/* Masthead --------------------------*/
.banner__masthead {
  color: $masthead-light;
  @include margin-padding;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  
}

/* Arms ------------------------------*/
.banner__arms { // only display when screen is big enough
  @media (max-width: $big-screen-threshold) { display: none; }
  min-width: 76px;
  margin-right: $margin * 2;
}
.banner__arms--light { fill:   $masthead-light; }
.banner__arms--dark  { 
  stroke: $masthead-light; 
  fill: $almost-black;
}

/* Title -----------------------------*/
.banner__title {
  font-family: $fancy-font, serif;
  font-size: 6vw;
}
.banner__title__academy {
  font-size: larger;
}
.banner__title__subtitle { 
  display: flex;
  justify-content: space-between;
  font-size: 3vw; 
}
.banner__title__subtitle--small { 
  font-style: italic;
  font-size: smaller;
}