/*------------------------------------*\
  #PAGE-HEAD (Mobile menu)
\*------------------------------------*/

/* Menu variables --------------------*/

// layout and sizes
$mobile-menu-base-height: calc(($mobile-menu-padding * 4) + $mobile-menu-title-size);
$mobile-menu-masthead-size: 4vw;
$mobile-menu-title-size: 1.5em;
$mobile-menu-masthead-width: 40vw;

// margins, padding, and borders
$mobile-menu-margin: $margin / 2;
$mobile-menu-padding: $padding / 2;
$mobile-menu-border-width: 4px;

// colors
$menu-overlay-color: rgba($very-pale-grey-blue, 0.55);

// navicon
$hamburger-dimension: 1.5em;
$hamburger-ratio: 0.2;


/*----------------------------------------------------------------------------*\
  Wrappers
\*----------------------------------------------------------------------------*/

/* Menu wrapper ----------------------*/
.mobile-menu__wrapper { // visible only when screen is small enough
  @media (min-width: $small-screen-threshold) { display: none; }
  background-color: $dark-red;
  
  // background
  background-repeat: no-repeat;
  background-size: 100%;
  
  // force objects to have a z-index, bringing them in front of gradients
  * { position: relative; }
  position: relative;
  
  // gradient overlay
  &:before {
    position: absolute;
    content: "";
    @include min-size(100%, 100%);
    
    background-image: linear-gradient(
      rgba($dark-red, 0.8),
      rgba($pale-grey-purple, 0.8) 70%,
      rgba($pale-grey-blue, 0.8));
  }
  
}

/* Dropdown menu wrapper -------------*/
.mobile-menu {
  position: relative;
  z-index: 1;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}



/*----------------------------------------------------------------------------*\
  Mobile title style
\*----------------------------------------------------------------------------*/

/* Page title header -----------------*/
.menu__h1 {
  @include cursive;
  padding: $padding * .75;
  margin: $mobile-menu-border-width 0;
  background-color: $menu-overlay-color;
  
  color: $dark-red;
  font-size: $mobile-menu-title-size;
  }

/* Banner padding styling ------------*/
.menu__filler--white {
  height: $margin;
  background-color: $background-color;
}



/*----------------------------------------------------------------------------*\
  Masthead stuff
\*----------------------------------------------------------------------------*/

/* Menu header -----------------------*/
.menu__masthead__wrapper {
  min-height: $mobile-menu-base-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  &>.menu__masthead, &>label {
    margin: $margin $margin * 1.25;
  }
}

/* Masthead --------------------------*/
.menu__masthead {
  @include link-coloring-self($very-pale-grey-blue, $almost-white);
  
  // Font styling
  font-family: $fancy-font, serif;
  font-size: $mobile-menu-masthead-width / 7;
  transition-duration: 0.5s;
  
  // Layout
  display: flex;
  flex-direction: column;
}

.menu__masthead__academy {
  font-size: larger;
  margin-bottom: -1 * 0.15em;
}
.menu__masthead__subtitle {
  display: flex;
  justify-content: space-between;
  font-size: $masthead-width / 14;
}
// itty bitty italics
.menu__masthead__subtitle--small { 
  font-style: italic;
  font-size: smaller;
}



/*----------------------------------------------------------------------------*\
  Navicon (hamburger menu button)
\*----------------------------------------------------------------------------*/
/* Navicon wrapper -------------------*/
.mobile-menu__navicon__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Menu label ------------------------*/
.mobile-menu__label {
  transition: all 1s;
  color: $very-pale-grey-blue;
  font-size: $hamburger-dimension / 2;
}
/* Icon itself -----------------------*/
.mobile-menu__navicon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:  $hamburger-dimension * $hamburger-ratio * 7;
  height: $hamburger-dimension;
  margin-bottom: $hamburger-ratio * $hamburger-dimension;
  // the visible part
  &:before {
    transition: all 1s;
    content: "";
    position: absolute;
    // main shape
    background-color: $very-pale-grey-blue;
    width: 100%;
    height: $hamburger-ratio * $hamburger-dimension;
    border-radius: 10px;
    // the shadows
    box-shadow: 
      0 2 * $hamburger-ratio * $hamburger-dimension $very-pale-grey-blue, 
      0 -2 * $hamburger-ratio * $hamburger-dimension $very-pale-grey-blue;
  }
}



/*----------------------------------------------------------------------------*\
  Dropdown mechanics
\*----------------------------------------------------------------------------*/

/* Menu logistics --------------------*/
input[type=checkbox] {
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0); 
  z-index: -9999999;
}

input[type=checkbox]:checked {
  // the menu
  & ~ .mobile-menu { @extend .mobile-menu--expanded; }
  
  // The navicon
  & ~ .menu__masthead__wrapper .mobile-menu__navicon:before {
    background-color: $menu-overlay-color;
    box-shadow: 
      0 2 * $hamburger-ratio * $hamburger-dimension $menu-overlay-color, 
      0 -2 * $hamburger-ratio * $hamburger-dimension $menu-overlay-color;
  }
  
  // The navicon label
  & ~ .menu__masthead__wrapper .mobile-menu__label {
    color: $menu-overlay-color;
  }
}

/* Changes on list expansion ---------*/
.mobile-menu--expanded {
  // The list itself
  .mobile-menu__item {
    margin: $mobile-menu-border-width;
    margin-top: 0;
    max-height: 9999999px;
    font-size: 1.5em;
    opacity: 1;
  }
}



/*----------------------------------------------------------------------------*\
  Dropdown list items
\*----------------------------------------------------------------------------*/

/* The list items themselves ---------*/
.mobile-menu__item {
  // Font stuff
  @include small-caps;
  text-transform: lowercase;
  text-align: center;
  font-size: 0;
  
  // Layout stuff
  max-height: 0px;
  margin: 0 $mobile-menu-border-width;
  
  // Colors and style
  background-color: $menu-overlay-color;
  opacity: 0;
  
  // Transition
  transition: all 1s, opacity 0.5s;
}
.mobile-menu__item:hover {
  background-color: rgba($menu-overlay-color, 0.8);
  letter-spacing: 0.1em;
}

/* Home button in menu ---------------*/
.mobile-menu__home {
  @extend .mobile-menu__item;
  color: $base-font-color;
}

/* Big, fancy navigation in menu -----*/
.mobile-menu__primary { 
  @extend .mobile-menu__item;
  color: $dark-magenta;
}

/* Small navigation in menu ----------*/
.mobile-menu__secondary {
  @extend .mobile-menu__item;
  color: $dark-red;
}