/*------------------------------------*\
  #PAGE-HEAD (Banner)
\*------------------------------------*/

/* Banner variables */
$banner-title-size: 5vw;
$banner-border-width: 6px;
$masthead-width: 40vw;
$min-banner-height: 30vw + $banner-title-size * 2;

$banner-overlay-color: rgba($very-pale-grey-blue, 0.55);
$masthead-light: rgba($very-pale-grey-blue, 0.75);

/* Banner wrapper --------------------*/
.banner { // visible only when screen is big enough
  @media (max-width: $small-screen-threshold) { 
    @include hidden;
  }
  
  // layout
  @include min-size(100%, $min-banner-height);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // background
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $dark-red;
  
  // force objects to have a z-index, bringing them in front of gradients
  * { position: relative; }
  
  // gradient overlay
  &:before {
    position: absolute;
    content: "";
    @include min-size(100%, $min-banner-height);
    
    background-image: linear-gradient(
      rgba($dark-red, 0.8),
      rgba($pale-grey-blue, 0.6) 60%,
      rgba($pale-grey-blue, 0.7));
  }
}


/* Page title header -----------------*/
.banner__h1 {
  @include cursive;
  background-image: linear-gradient(to right, $very-pale-grey-blue, $background-color);
  background-image: linear-gradient(to right, $banner-overlay-color, $background-color);
  padding: $padding * .75;
  color: $dark-red;
  font-size: $banner-title-size;
  }
.banner__border { height: $banner-border-width; }
.banner__h1 + .banner__border,
.banner__filler--white + .banner__border {
  background-image: linear-gradient(to right, transparent, $background-color);
}


/* Banner padding styling --*/
.banner__filler--white {
  height: $margin;
  background-color: $background-color;
}


/* Big, fancy navigation in banner ---*/
.banner__primary {
  // text stying
  @include small-caps;
  text-transform: lowercase;
  font-size: 4vw;
  background-color: $very-pale-grey-blue;
  background-color: $banner-overlay-color;
  // layout
  margin-top: auto;
  margin-bottom: $banner-border-width;
  display: flex;
  padding: $padding / 4;
  justify-content: space-around;
  align-items: center;
  // individual elements
  li {
    a {@include link-coloring-self($dark-red, 
             saturate($dark-magenta, 60%));}
    position: relative;
    flex: 1 1 auto;
    text-align: center;
//    transition-duration: 10s;
  }
}

// make the ampersand a more reasonable size
.banner__ampersand { font-size: smaller; }

// the thing between the things
.delimiter { 
  color: $dark-red;
  padding-top: 0.3em;
  font-size: 0.5em;
}


/* Small upper navigation in banner --*/
.banner__secondary {
  // text styling
  @include link-coloring-descendents($very-pale-grey-blue, $almost-white);
  font-size: small;
  
  // layout
  padding: $padding;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  
  // individual elements
  li { @include margin-padding-horizontal(0.5 * $margin, 0.5 * $padding); }
}


/* Masthead --------------------------*/
.banner__masthead {
  color: $masthead-light;
  @include margin-padding-percent(0.4);
  margin-left: $margin * 1.5;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  
}


/* Arms ------------------------------*/
.banner__arms { // only display when screen is big enough
  
  @include hidden; // turn off the arms for now
  
  @media (max-width: $big-screen-threshold) { @include hidden; }
  min-width: $masthead-width / 4;
  margin-right: $margin * 2;
}
.banner__arms--light { fill:   $masthead-light; }
.banner__arms--dark  { 
  stroke: $masthead-light; 
  fill: $almost-black;
}


/* Title -----------------------------*/
.banner__title {
  font-family: $fancy-font, serif;
  font-size: $masthead-width / 8;
}
.banner__title__academy {
  font-size: larger;
}
.banner__title__subtitle { 
  display: flex;
  justify-content: space-between;
  font-size: $masthead-width / 16;
}
.banner__title__subtitle--small { 
  font-style: italic;
  font-size: smaller;
}