/*------------------------------------*\
  #PAGE-FOOTER
\*------------------------------------*/

/* Footer variables ------------------*/
$footer-padding-percent: .25;
$footer-text-color: $medium-grey;
$footer-background-color: $dark-red;

.footer__wrapper {
  @media(max-width: $small-screen-threshold) { flex-direction: column; }
  padding: $padding;
  
  bottom: 0;
  
  background-color: $dark-red;
  display: flex;
  height: auto;
  flex-shrink: 0;
}

.footer__item {
  @include margin-padding-percent($footer-padding-percent);
  @include link-coloring-descendents($pale-grey, $almost-white);
  font-size: smaller;
  color: $footer-text-color;
}