/*------------------------------------*\
  #COLORS (palette)
\*------------------------------------*/

/* Neutrals --------------------------*/
$almost-white: rgb(240, 243, 255);
$pale-grey: rgb(180, 183, 190);
$medium-grey: rgb(130, 139, 155);
$almost-black: rgb(13, 15, 14);

/* Reds ------------------------------*/
$dark-red: rgb(52, 28, 39);
$dark-magenta: rgb(98, 28, 52);

/* Blues -----------------------------*/
$pale-grey-blue: rgb(110, 143, 190);
$very-pale-grey-blue: lighten($pale-grey-blue, 20%);
$pale-grey-purple: rgb(135, 143, 190);


/*------------------------------------*\
  #COLORS (semantic)
\*------------------------------------*/

// Background
$background-color: $almost-white;
$page-title-color: $medium-grey;

// Regular colors
$base-font-color: $almost-black;
$quiet-color: $medium-grey;
$loud-color: black;

// Link colors 
$link-color: lighten($dark-magenta, 10%);
$link-color-hover: saturate(lighten($link-color, 20%), 30%);
$link-color-visited: desaturate($link-color, 50%);

  
/* Fonts ----------------------------*/

// Utility
$fancy-font: "Im Fell English";

// Base
$base-font-family: "Ek Mukta", sans-serif;
$base-font-size: 1.1em;
$base-line-height: 1.35;

// Heading
$heading-font-family: "Im Fell English", serif;
$heading-font-weight: 400;
$page-title-size: 5vw;

// Other
$fixed-font-family: "Cultive Mono", monospace;
$fixed-font-size: $base-font-size;
$fixed-line-height: 1.25;
$small-caps-font-family: "Im Fell English SC", serif;
$small-caps-letter-spacing: 1.25;


/* Layout ----------------------------*/
$margin: 0.5em;
$padding: 0.5em;
$tiny-screen-threshold: 300px;
$small-screen-threshold: 550px;  
$big-screen-threshold: 700px;


/*------------------------------------*\
  #MIXINS
\*------------------------------------*/


/* Fonts -----------------------------*/
@mixin cursive {
  font-family: $fancy-font, cursive;
  font-style: italic;
}

@mixin small-caps {
  font-family: $small-caps-font-family;
  letter-spacing: $small-caps-letter-spacing;
}

/* Links -----------------------------*/
@mixin link-coloring-self($base, $hover:'-1', $visited:'-1') {
    transition: color 0.5s;
    color: $base;
    @if $hover != '-1' { &:hover { color: $hover; } }
    @if $visited != '-1' { &:visited { color: $visited; } }
}
@mixin link-coloring-descendents($base, $hover:'-1', $visited:'-1') {
  a, &a, a * {
    transition: color 0.5s;
    color: $base;
    @if $hover != '-1' { &:hover { color: $hover; } }
    @if $visited != '-1' { &:visited { color: $visited; } }
  }
}

/* Margins & Padding -----------------*/
@mixin margin-padding($m:$margin, $p:$padding) {
  margin:  $m;
  padding: $p;
}
@mixin margin-padding-percent($p) {
  margin:  $margin  * $p;
  padding: $padding * $p;
}

@mixin margin-padding-horizontal($m:$margin, $p:$padding) {
  margin:  0 $m;
  padding: 0 $p;
}
@mixin margin-padding-horizontal-percent($p) {
  margin:  0 $margin  * $p;
  padding: 0 $padding * $p;
}

@mixin margin-padding-vertical($m:$margin, $p:$padding) {
  margin:  $m 0;
  padding: $p 0;
}
@mixin margin-padding-vertical-percent($p) {
  margin:   $margin * $p 0;
  padding: $padding * $p 0;
}

/* Indentation -----------------------*/
@mixin indent { padding-left: 2rem; }


/* Sizing ----------------------------*/
@mixin max-size($w, $h) { max-width: $w; max-height: $h; }
@mixin min-size($w:100%, $h:100%) { min-width: $w; min-height: $h; }


/* Gradients -------------------------*/
@mixin background-gradient($base-color, $other-color, $origin, $destination) {
  background-image: linear-gradient($origin, $base-color, $other-color);
  background-image: linear-gradient(to $destination, $base-color, $other-color);
}
