/**
 * CONTENTS
 *
 * SETTINGS & TOOLS
 * Global...............Globally-available variables and config.
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing.css.......Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 */

/*------------------------------------*\
  #IMPORTS
\*------------------------------------*/
@import "settings_tools";
@import "box-sizing";
@import "reset";
@import "page_head_banner";
@import "page_head_menu"; 
@import "page_footer";

/*------------------------------------*\
  #BASE
\*------------------------------------*/

/* Headings  -------------------------*/
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}
.h1, .h2 { line-height: 1.1; }
.h3, .h4 { line-height: 1.3; }
.h1 { font-size: 400%; letter-spacing: -2px; }
.h2 { font-size: 250%; letter-spacing: -1px; }
.h3 { font-size: 200%; }
.h4 { font-size: 180%; }
.h5 { font-size: 130%; }

/* Font styling-----------------------*/
.quiet { color: $quiet-color; }
.loud  { color: $loud-color; }
.fixed { 
  font-family: $fixed-font-family; 
  font-size:   $fixed-font-size; 
  line-height: $fixed-line-height;
}
.link { text-decoration: none; }

.bold       { @extend .loud; font-weight: 700; }
.italic     { font-style: italic; }
.main .link { @include link-coloring-self($link-color, 
                                          $link-color-hover, 
                                          $link-color-visited) }

/* Layout ----------------------------*/
.page {
  // layout
  width:  100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // background color
  background-color: $almost-white;
  // base font
  color:       $base-font-color;
  font-family: $base-font-family;
  font-size:   $base-font-size;
  line-height: $base-line-height;
}

/* Lists -----------------------------*/
.unordered-list { list-style-type: circle; }
.ordered-list   { list-style-type: decimal; }
.plain-list     { list-style-type: none; }

/* Elements --------------------------*/
.image { @include max-size(100%, 100%); }
.main  { @include margin-padding; }

/*------------------------------------*\
  #TYPOGRAPHY WRAPPER CLASS
\*------------------------------------*/
.typography {
  @extend .page;
  
  i, em { @extend .italic; }
    
  b, strong { @extend .bold; }
 
  h1, .h1 { @extend .h1; margin: 1em 0 0.5em; }
  h2, .h2 { @extend .h2; margin: 1em 0 0.5em; }
  h3, .h3 { @extend .h3; margin: 1em 0 0.5em; }
  h4, .h4 { @extend .h4; margin: 1em 0 0.5em; }
  h5, .h5 { @extend .h5; margin: 1em 0 0.5em; }
  h6, .h6 { @extend .h6; margin: 1em 0 0.5em; }

  ul:not(.plain-list) { @extend .unordered-list; @include indent; }
  ol:not(.plain-list) { @extend .ordered-list;   @include indent; }

  a { @extend .link; }
  
  pre, code { @extend .fixed; }
  cite      { @extend .italic; }
  img       { @extend .image; }
  main      { @extend .main; }
}

/*------------------------------------*\
  #WRAPPERS
\*------------------------------------*/
