@charset "UTF-8";
/**
 * CONTENTS
 *
 * SETTINGS & TOOLS
 * Global...............Globally-available variables and config.
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing.css.......Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 */
/*------------------------------------*  #IMPORTS
\*------------------------------------*/
/*------------------------------------*  #COLORS (palette)
\*------------------------------------*/
/* Neutrals --------------------------*/
/* Reds ------------------------------*/
/* Blues -----------------------------*/
/*------------------------------------*  #COLORS (semantic)
\*------------------------------------*/
/* Fonts ----------------------------*/
/* Layout ----------------------------*/
/*------------------------------------*  #MIXINS
\*------------------------------------*/
/* Fonts -----------------------------*/
/* Links -----------------------------*/
/* Margins & Padding -----------------*/
/* Borders ---------------------------*/
/* Indentation -----------------------*/
/* Sizing ----------------------------*/
/* Gradients -------------------------*/
/* line 1, /Users/gabeeayres/Sites/academy/public/stylesheets/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, /Users/gabeeayres/Sites/academy/public/stylesheets/_box-sizing.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Users/gabeeayres/Sites/academy/public/stylesheets/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/gabeeayres/Sites/academy/public/stylesheets/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, /Users/gabeeayres/Sites/academy/public/stylesheets/_reset.scss */
body {
  line-height: 1; }

/* line 34, /Users/gabeeayres/Sites/academy/public/stylesheets/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, /Users/gabeeayres/Sites/academy/public/stylesheets/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 40, /Users/gabeeayres/Sites/academy/public/stylesheets/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, /Users/gabeeayres/Sites/academy/public/stylesheets/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*  #PAGE-HEAD (Banner)
\*------------------------------------*/
/* Banner variables */
/* Banner wrapper --------------------*/
/* line 12, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
.banner {
  min-width: 100vw;
  min-height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 550px) {
    /* line 12, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
    .banner {
      display: none; } }
  /* line 25, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
  .banner * {
    position: relative; }
  /* line 27, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
  .banner:before {
    position: absolute;
    content: "";
    min-width: 100vw;
    min-height: 40vw;
    background-image: linear-gradient(rgba(52, 28, 39, 0.8), rgba(107, 150, 190, 0.6) 60%, rgba(107, 150, 190, 0.7)); }
  /* line 38, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
  .banner .banner__h1 {
    font-family: "Im Fell English", cursive;
    font-style: italic;
    background-image: linear-gradient(left, rgba(178, 200, 221, 0.55), #f0f3ff);
    background-image: linear-gradient(to right, rgba(178, 200, 221, 0.55), #f0f3ff);
    padding: 0.375em;
    color: #341c27; }
  /* line 44, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
  .banner .banner__h1 + .banner__border,
  .banner .banner__filler--white + .banner__border {
    background-image: linear-gradient(left, transparent, #f0f3ff);
    background-image: linear-gradient(to right, transparent, #f0f3ff); }

/* line 50, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
.banner__border {
  height: 6px; }

/* line 51, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
.banner__filler--white {
  height: 3vh;
  background-color: #f0f3ff; }

/* Big, fancy navigation in banner ---*/
/* line 57, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
.banner__primary {
  font-family: "IM Fell English SC", serif;
  letter-spacing: 1.25;
  text-transform: lowercase;
  font-size: 4vw;
  background-color: rgba(178, 200, 221, 0.55);
  margin-top: auto;
  display: flex;
  padding: 0.125em;
  justify-content: space-around;
  align-items: center; }
  /* line 70, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
  .banner__primary li {
    position: relative;
    flex: 1 1 auto;
    text-align: center; }
    /* line 71, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
    .banner__primary li a {
      transition: color 0.5s;
      color: #341c27; }
      /* line 94, /Users/gabeeayres/Sites/academy/public/stylesheets/_settings_tools.scss */
      .banner__primary li a:hover {
        color: #7e002b; }

/* line 80, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
.banner__ampersand {
  font-size: smaller; }

/* line 83, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
.delimiter {
  color: #341c27;
  padding-top: 0.3em;
  font-size: 0.5em; }

/* Small upper navigation in banner --*/
/* line 90, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
.banner__secondary {
  font-size: small;
  padding: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end; }
  /* line 98, /Users/gabeeayres/Sites/academy/public/stylesheets/_settings_tools.scss */
  .banner__secondary a, .banner__secondarya, .banner__secondary a * {
    transition: color 0.5s;
    color: #b2c8dd; }
    /* line 101, /Users/gabeeayres/Sites/academy/public/stylesheets/_settings_tools.scss */
    .banner__secondary a:hover, .banner__secondarya:hover, .banner__secondary a *:hover {
      color: #f0f3ff; }
  /* line 102, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
  .banner__secondary li {
    margin: 0 0.25em;
    padding: 0 0.25em; }

/* Masthead --------------------------*/
/* line 106, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
.banner__masthead {
  color: rgba(178, 200, 221, 0.75);
  margin: 0.2em;
  padding: 0.2em;
  margin-left: 0.75em;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start; }

/* Arms ------------------------------*/
/* line 118, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
.banner__arms {
  display: none;
  min-width: 10vw;
  margin-right: 1em; }
  @media (max-width: 700px) {
    /* line 118, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
    .banner__arms {
      display: none; } }

/* line 126, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
.banner__arms--light {
  fill: rgba(178, 200, 221, 0.75); }

/* line 127, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
.banner__arms--dark {
  stroke: rgba(178, 200, 221, 0.75);
  fill: #0d0f0e; }

/* Title -----------------------------*/
/* line 133, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
.banner__title {
  font-family: "Im Fell English", serif;
  font-size: 5vw; }

/* line 137, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
.banner__title__academy {
  font-size: larger; }

/* line 140, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
.banner__title__subtitle {
  display: flex;
  justify-content: space-between;
  font-size: 2.5vw; }

/* line 145, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_banner.scss */
.banner__title__subtitle--small {
  font-style: italic;
  font-size: smaller; }

/*------------------------------------*  #PAGE-HEAD (Mobile menu)
\*------------------------------------*/
/* Menu variables --------------------*/
/* Menu wrapper ----------------------*/
/* line 14, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_menu.scss */
.mobile-menu__wrapper {
  background-color: #341c27;
  min-height: calc(($mobile-menu-padding * 4) + $mobile-menu-title-size); }
  @media (min-width: 550px) {
    /* line 14, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_menu.scss */
    .mobile-menu__wrapper {
      display: none; } }

/* Title -----------------------------*/
/* line 22, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_menu.scss */
.menu__title {
  color: #f0f3ff;
  font-family: "Im Fell English", serif;
  font-size: 0.9em;
  position: absolute;
  left: 0;
  padding: 0.25em;
  display: flex;
  justify-content: space-between; }
  /* line 34, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_menu.scss */
  .menu__title > * {
    padding: 0.25em; }

/* line 37, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_menu.scss */
.menu__title--small {
  font-style: italic;
  font-size: smaller; }

/* Menu logistics --------------------*/
/* line 43, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_menu.scss */
.mobile-menu {
  position: relative;
  z-index: 1;
  right: 0;
  display: flex;
  flex-direction: column; }

/* Little goddamn hamburger menu -----*/
/* line 53, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_menu.scss */
.mobile-menu .mobile-menu__navicon {
  align-self: flex-end;
  margin: 0.5em;
  margin-bottom: 1.375em;
  background-color: #f0f3ff;
  width: 1.125em;
  height: 0.16875em;
  border-radius: 10px;
  box-shadow: 0 0 #f0f3ff, 0 0.3375em #f0f3ff, 0 0.675em #f0f3ff; }

/* line 70, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_menu.scss */
.mobile-menu:hover .mobile-menu__navicon {
  background-color: #828b9b;
  box-shadow: 0 0.3375em #828b9b, 0 0.675em #828b9b; }

/* The list items themselves ---------*/
/* line 80, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_menu.scss */
.mobile-menu .mobile-menu__item, .mobile-menu .mobile-menu__primary, .mobile-menu .mobile-menu__secondary {
  text-align: center;
  font-family: "Im Fell English", serif;
  font-size: 0;
  opacity: 0;
  max-height: 0px;
  width: 100vw;
  padding: 0.375em;
  background-color: #341c27;
  border-top: solid 0px #552e40;
  border-bottom: solid 0px #130a0e;
  transition: padding   1s,   max-height       1s,  font-size 1s,   letter-spacing   1s,  color     1s,   background-color 1s, opacity 0.5s; }

/* line 100, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_menu.scss */
.mobile-menu:hover .mobile-menu__item, .mobile-menu:hover .mobile-menu__primary, .mobile-menu:hover .mobile-menu__secondary {
  border-top: solid 1px #552e40;
  border-bottom: solid 1px #130a0e;
  max-height: 9999999px;
  font-size: large;
  opacity: 1; }

/* line 108, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_menu.scss */
.mobile-menu .mobile-menu__item:hover, .mobile-menu .mobile-menu__primary:hover, .mobile-menu .mobile-menu__secondary:hover {
  background-color: #621c34;
  letter-spacing: 1px; }

/* Big, fancy navigation in menu -----*/
/* line 115, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_menu.scss */
.mobile-menu__primary {
  transition: color 0.5s;
  color: #b4b7be; }
  /* line 117, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_menu.scss */
  .mobile-menu__primary:hover {
    background-color: yellow; }
  /* line 94, /Users/gabeeayres/Sites/academy/public/stylesheets/_settings_tools.scss */
  .mobile-menu__primary:hover {
    color: #f0f3ff; }

/* Small navigation in menu ----------*/
/* line 122, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_head_menu.scss */
.mobile-menu__secondary {
  transition: color 0.5s;
  color: #828b9b; }
  /* line 94, /Users/gabeeayres/Sites/academy/public/stylesheets/_settings_tools.scss */
  .mobile-menu__secondary:hover {
    color: #f0f3ff; }

/*------------------------------------*  #PAGE-FOOTER
\*------------------------------------*/
/* Footer variables ------------------*/
/* line 10, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_footer.scss */
.footer__wrapper {
  padding: 0.5em;
  margin-top: auto;
  background-color: #341c27;
  display: flex;
  height: auto;
  flex-shrink: 0; }
  @media (max-width: 550px) {
    /* line 10, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_footer.scss */
    .footer__wrapper {
      flex-direction: column; } }

/* line 22, /Users/gabeeayres/Sites/academy/public/stylesheets/_page_footer.scss */
.footer__item {
  margin: 0.125em;
  padding: 0.125em;
  font-size: smaller;
  color: #828b9b; }
  /* line 98, /Users/gabeeayres/Sites/academy/public/stylesheets/_settings_tools.scss */
  .footer__item a, .footer__itema, .footer__item a * {
    transition: color 0.5s;
    color: #b4b7be; }
    /* line 101, /Users/gabeeayres/Sites/academy/public/stylesheets/_settings_tools.scss */
    .footer__item a:hover, .footer__itema:hover, .footer__item a *:hover {
      color: #f0f3ff; }

/*------------------------------------*  #BASE
\*------------------------------------*/
/* Headings  -------------------------*/
/* line 44, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.h2, .typography h2, .typography .h2, .h3, .typography h3, .typography .h3, .h4, .typography h4, .typography .h4, .h5, .typography h5, .typography .h5, .h6, .typography h6, .typography .h6 {
  padding: 0.25em;
  margin: 0.25em 0;
  font-family: "Im Fell English", serif;
  font-weight: 400;
  color: #341c27; }

/* line 56, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.h1, .typography h1, .typography .h1 {
  font-size: 5vw;
  color: #621c34; }

/* line 61, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.h2, .typography h2, .typography .h2 {
  font-size: 4.5vw; }

/* line 62, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.h3, .typography h3, .typography .h3 {
  font-size: 3.5vw; }

/* line 63, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.h4, .typography h4, .typography .h4 {
  font-size: 2.5vw; }

/* line 64, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.h5, .typography h5, .typography .h5 {
  font-size: 1.5vw; }

/* Font styling-----------------------*/
/* line 67, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.quiet {
  color: #828b9b; }

/* line 68, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.loud, .bold, .typography b, .typography strong {
  color: black; }

/* line 69, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.fixed, .typography pre, .typography code {
  font-family: "Cultive Mono", monospace;
  font-size: 1.1em;
  line-height: 1.25; }

/* line 74, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.link, .typography a {
  text-decoration: none; }

/* line 76, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.bold, .typography b, .typography strong {
  font-weight: 700; }

/* line 77, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.italic, .typography i, .typography em, .typography cite {
  font-style: italic; }

/* line 78, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.main .link, .typography main .link, .main .typography a, .typography .main a, .typography main a {
  transition: color 0.5s;
  color: #8a2749; }
  /* line 94, /Users/gabeeayres/Sites/academy/public/stylesheets/_settings_tools.scss */
  .main .link:hover, .typography main .link:hover, .main .typography a:hover, .typography .main a:hover, .typography main a:hover {
    color: #ee296c; }
  /* line 95, /Users/gabeeayres/Sites/academy/public/stylesheets/_settings_tools.scss */
  .main .link:visited, .typography main .link:visited, .main .typography a:visited, .typography .main a:visited, .typography main a:visited {
    color: #5d5457; }

/* Layout ----------------------------*/
/* line 83, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.page, .typography {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f0f3ff;
  color: #0d0f0e;
  font-family: "Ek Mukta", sans-serif;
  font-size: 1.1em;
  line-height: 1.35; }

/* Lists -----------------------------*/
/* line 100, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.unordered-list, .typography ul:not(.plain-list) {
  list-style-type: circle; }

/* line 101, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.ordered-list, .typography ol:not(.plain-list) {
  list-style-type: decimal; }

/* line 102, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.plain-list {
  list-style-type: none; }

/* Elements --------------------------*/
/* line 105, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.image, .typography img {
  max-width: 100%;
  max-height: 100%; }

/* line 106, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.main, .typography main {
  margin: 0.5em;
  padding: 0.5em; }

/* line 107, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.p, .typography p {
  margin-bottom: 1em; }

/*------------------------------------*  #TYPOGRAPHY WRAPPER CLASS
\*------------------------------------*/
/* line 126, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.typography ul:not(.plain-list) {
  padding-left: 2rem; }

/* line 127, /Users/gabeeayres/Sites/academy/public/stylesheets/style.scss */
.typography ol:not(.plain-list) {
  padding-left: 2rem; }

/*------------------------------------*  #WRAPPERS
\*------------------------------------*/

/*# sourceMappingURL=style.css.map */