/**
 * CONTENTS
 *
 * SETTINGS & TOOLS
 * Global...............Globally-available variables and config.
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing.css.......Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 */

/*------------------------------------*\
  #IMPORTS
\*------------------------------------*/
@import "reset",
        "box-sizing",
        "vars_mixins",
        "headings",
        "page_head_banner",
        "page_footer",
        "page_head_menu";

/*------------------------------------*\
  #BASE
\*------------------------------------*/

/* Font styling-----------------------*/
.quiet { color: $quiet-color; }
.loud  { color: $loud-color; }
.fixed { 
  font-family: $fixed-font-family; 
  font-size:   $fixed-font-size; 
  line-height: $fixed-line-height;
}
.link { text-decoration: none; }

.bold       { @extend .loud; font-weight: 700; }
.italic     { font-style: italic; }
.main .link { @include link-coloring-self($link-color, 
                                          $link-color-hover, 
                                          $link-color-visited) }

/* Layout ----------------------------*/
.page {
  // layout
  width:  100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // background color
  background-color: $almost-white;
  // base font
  color:       $base-font-color;
  font-family: $base-font-family;
  font-size:   $base-font-size;
  line-height: $base-line-height;
}

/* Lists -----------------------------*/
.unordered-list {
  list-style-type: none;
  li:before {
    position: relative;
    top: -0.11em;
    font-size: small;
    content: "\2756";
    padding-right: 1ch;
  }
}
.ordered-list   { list-style-type: decimal; }
.plain-list     { list-style-type: none; }

/* Elements --------------------------*/
.image { @include max-size(100%, 100%); }
.p, .section { /* empty */ }
.p, .unordered-list, .ordered-list {
  @include margin-padding;
  margin-top: none;
  padding-top: none;
}



/*------------------------------------*\
  #TYPOGRAPHY WRAPPER CLASS
\*------------------------------------*/
.typography {
  @extend .page;
  
  i, em { @extend .italic; }
    
  b, strong { @extend .bold; }
 
  // h1, .h1 { @extend .h1; }
  h2, .h2 { @extend .h2; }
  h3, .h3 { @extend .h3; }
  h4, .h4 { @extend .h4; }
  h5, .h5 { @extend .h5; }
  h6, .h6 { @extend .h6; }

  ul:not(.plain-list) { 
    @extend .unordered-list; 
//    @include indent;
  }
  ol:not(.plain-list) { 
    @extend .ordered-list; 
    @include indent; 
  }

  a { @extend .link; }
  
  pre, code { @extend .fixed; }
  cite      { @extend .italic; }
  img       { @extend .image; }
  main      { @extend .main; }
  p         { @extend .p; }
  section   { @extend .section; }
}

/*------------------------------------*\
  #WRAPPERS
\*------------------------------------*/
