/**
 * CONTENTS
 *
 * SETTINGS & TOOLS
 * Global...............Globally-available variables and config.
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing.css.......Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * DYNAMIC
 * Items................Classes that interact with JS.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 */

/*------------------------------------*\
  #IMPORTS
\*------------------------------------*/
@import "reset",
        "box-sizing",
        "vars_mixins",
        "headings",
        "page_head_banner",
        "page_footer",
        "page_head_menu";

/*------------------------------------*\
  #BASE
\*------------------------------------*/

/* Font styling-----------------------*/
.quiet { color: $quiet-color; }
.loud  { color: $loud-color; }
.fixed { 
  font-family: $fixed-font-family; 
  font-size:   $fixed-font-size; 
  line-height: $fixed-line-height;
}
.link { text-decoration: none; }

.bold       { @extend .loud; font-weight: 700; }
.italic     { font-style: italic; }
.main .link { @include link-coloring-self($link-color, 
                                          $link-color-hover, 
                                          $link-color-visited) }

/* Layout ----------------------------*/
.page {
  // layout
  width:  100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // background color
  background-color: $almost-white;
  // base font
  color:       $base-font-color;
  font-family: $base-font-family;
  font-size:   $base-font-size;
  line-height: $base-line-height;
}

/* Lists -----------------------------*/
.unordered-list { list-style-type: none; }
.ordered-list   { @include indent; list-style-type: decimal; }
.reset-list     { list-style-type: none; }
.bulleted-list  {
  list-style-type: none;
  li:before {
    position: relative;
    top: -0.11em;
    font-size: small;
    content: "\2756";
    padding-right: 1ch;
  }
}

/* Elements --------------------------*/
.image { @include max-size(100%, 100%); }
.section { /* empty */ }
.p, .unordered-list, .ordered-list, .figure {
  @include margin-padding-percent(.5);
}
.figcaption {
  font-size: smaller;
  text-align: justify;
  margin-top: $margin / 2; 
}

/*------------------------------------*\
  #TYPOGRAPHY WRAPPER CLASS
\*------------------------------------*/
.typography {
  @extend .page;
  
  i, em { @extend .italic; }
    
  b, strong { @extend .bold; }
 
  // h1, .h1 { @extend .h1; }
  h2, .h2 { @extend .h2; }
  h3, .h3 { @extend .h3; }
  h4, .h4 { @extend .h4; }
  h5, .h5 { @extend .h5; }
  h6, .h6 { @extend .h6; }

  ul:not(.reset-list) { @extend .unordered-list; }
  ol:not(.reset-list) { @extend .ordered-list;   }

  a { @extend .link; }
  
  pre, code  { @extend .fixed; }
  cite       { @extend .italic; }
  img        { @extend .image; }
  main       { @extend .main; }
  p          { @extend .p; }
  section    { @extend .section; }
  figure     { @extend .figure; }
  figcaption { @extend .figcaption; }
}

/*------------------------------------*\
  #DYNAMIC
\*------------------------------------*/
.show   {  display: flex; visibility: visible; }

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

.path-display {
  background-color: $background-color;
  position: relative;
  display: flex;
  padding: $padding;
  color: $pale-grey-blue;
  
  li { margin: $margin / 4; }
  
  li:not(:first-child):before {
    color: $medium-grey;
    width: 3ch;
    height: 100%;
    content: "> ";
  }
}
